<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	{% load staticfiles %}
	<!-- Icons -->
	<link rel="stylesheet" href="{% static 'landingpage/css/themify-icons.css' %}">
	<link rel="stylesheet" href="{% static 'landingpage/css/cryptocoins.css' %}">
	<link rel="stylesheet" href="{% static 'landingpage/css/cryptocoins-colors.css' %}">

	<!-- CSS -->
	<link rel="stylesheet" href="{% static 'landingpage/css/bootstrap-reboot.min.css' %}">
	<link rel="stylesheet" href="{% static 'landingpage/css/bootstrap-grid.min.css' %}">
	<link rel="stylesheet" href="{% static 'landingpage/css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'landingpage/css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'landingpage/css/main-color1.css' %}">

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="{% static 'landingpage/icon/favicon-32x32.png' %}" sizes="32x32">
	<link rel="apple-touch-icon" href="{% static 'landingpage/icon/favicon-32x32.png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'landingpage/icon/apple-touch-icon-72x72.png' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'landingpage/icon/apple-touch-icon-114x114.png' %}">
	<link rel="apple-touch-icon" sizes="144x144" href="{% static 'landingpage/icon/apple-touch-icon-144x144.png' %}">

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title>Smart Mine – Crypto Mining HTML Template</title>

</head>
<body>
	
	<!-- header -->
	<header class="header header--white">
		<!-- logo -->
		<div class="header__logo">
			<a href="index.html">
				<img src="{% static 'landingpage/img/logo.png' %}" alt="">
			</a>
		</div>
		<!-- end logo -->

		<!-- navigation -->
		<ul class="header__nav">
			{% comment %}<li class="dropdown header__dropdown">
				<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>

				<ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuLink1">
					<li><a href="/index">Home 1</a></li>
					<li><a href="/index2">Home 2</a></li>
				</ul>
			</li>{% endcomment %}
			<li><a href="/index">Home</a></li>
            <li><a href="/about">How it works</a></li>
			<li><a href="/pricing">Pricing</a></li>
            <li><a href="/faq">FAQ</a></li>
			<li><a href="/article">Tutorial</a></li>
			{% comment %}<li class="dropdown header__dropdown">
				<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>

				<ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuLink2">
					<li><a href="/article">Article</a></li>
					<li><a href="/faq">Help</a></li>
				</ul>
			</li>{% endcomment %}
		</ul>
		<!-- end navigation -->

		<!-- buttons -->
		<div class="header__btns">
			<a href="/login" class="btn btn--header">log in</a>
			<a href="/signup" class="btn btn--header">sign up</a>
		</div>
		<!-- end buttons -->

		<!-- mob button -->
		<button class="header__menu" type="button">
			<i class="ti-menu"></i>
			<i class="ti-close"></i>
		</button>
		<!-- end mob button -->
	</header>
	<!-- end header -->

	<!-- page title -->
	<section class="section section--first section--bg" data-bg="{% static 'landingpage/img/section/section-bg.jpg' %}">
		<div class="container">
			<div class="row">
				<!-- section title -->
				<div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
					<h2 class="section__title section__title--white">About Us</h2>
					<p class="section__text section__text--white section__text--head">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed aut eos, <b>natus</b> magnam, aperiam voluptates.</p>
				</div>
				<!-- end section title -->
			</div>
		</div>
	</section>
	<!-- end page title -->

	<!-- about -->
	<section class="section section--border-bottom">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4">
					<!-- feature -->
					<div class="feature">
						<h3 class="feature__title">Step One</h3>
						<p class="feature__text">Our primary focus is to offer cost effective solutions to cryptocurrency hobbyists and professionals. We have the conviction our enterprise can follow you in the adventure or cryptocurrency.</p>
					</div>
					<!-- end feature -->
				</div>

				<div class="col-12 col-lg-4">
					<!-- feature -->
					<div class="feature">
						<h3 class="feature__title">Step Two</h3>
						<p class="feature__text">Located in LA, USA, the Cloud Mining farm is accessible to members 24/7 and they have access to a multi language technical support, which is an exclusivity in the industry.</p>
					</div>
					<!-- end feature -->
				</div>

				<div class="col-12 col-lg-4">
					<!-- feature -->
					<div class="feature">
						<h3 class="feature__title">Step Three</h3>
						<p class="feature__text">The Cloud Mining system is ideal for beginners. Our system also offers solutions for experts and large-scale entrepreneurs from one unit farm to multiple tier-1 home dedicated mining farm.</p>
					</div>
					<!-- end feature -->
				</div>

				{% comment %}<div class="col-12">
					<a href="#" class="btn btn--center btn--top25 btn--shadow">get started</a>
				</div>{% endcomment %}
			</div>
		</div>
	</section>
	<!-- end about -->

	<!-- partners -->
	<div class="partners section--border-top section--border-bottom">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- partners slider -->
					<div class="owl-carousel partners__slider">
						<!-- slider item -->
						<div class="item">
							<a href="#">
								<img src="{% static 'landingpage/img/partners/partner.png' %}" alt="">
							</a>
						</div>
						<!-- end slider item -->

						<!-- slider item -->
						<div class="item">
							<a href="#">
								<img src="{% static 'landingpage/img/partners/partner.png' %}" alt="">
							</a>
						</div>
						<!-- end slider item -->

						<!-- slider item -->
						<div class="item">
							<a href="#">
								<img src="{% static 'landingpage/img/partners/partner.png' %}" alt="">
							</a>
						</div>
						<!-- end slider item -->

						<!-- slider item -->
						<div class="item">
							<a href="#">
								<img src="{% static 'landingpage/img/partners/partner.png' %}" alt="">
							</a>
						</div>
						<!-- end slider item -->

						<!-- slider item -->
						<div class="item">
							<a href="#">
								<img src="{% static 'landingpage/img/partners/partner.png' %}" alt="">
							</a>
						</div>
						<!-- end slider item -->

						<!-- slider item -->
						<div class="item">
							<a href="#">
								<img src="{% static 'landingpage/img/partners/partner.png' %}" alt="">
							</a>
						</div>
						<!-- end slider item -->

						<!-- slider item -->
						<div class="item">
							<a href="#">
								<img src="{% static 'landingpage/img/partners/partner.png' %}" alt="">
							</a>
						</div>
						<!-- end slider item -->
					</div>
					<!-- end partners slider -->
				</div>
			</div>
		</div>
	</div>
	<!-- end partners -->

	<!-- footer -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-6 col-md-4 col-lg-3">
					<!-- logo -->
					<div class="footer__logo">
						<a href="index.html">
							<img src="{% static 'landingpage/img/logo.png' %}" alt="">
						</a>
					</div>
					<!-- end logo -->
				</div>

				<div class="col-6 col-sm-6 col-md-4 col-lg-3">
					<h6 class="footer__title">Features</h6>
					<ul class="footer__list">
						<li><a href="#">Instant connection</a></li>
						<li><a href="#">Instant conclusion</a></li>
						<li><a href="#">Detailed statistics</a></li>
						<li><a href="#">Power distribution</a></li>
					</ul>
				</div>

				<div class="col-6 col-sm-6 col-md-4 col-lg-3">
					<h6 class="footer__title">Company</h6>
					<ul class="footer__list">
						<li><a href="#">Customers</a></li>
						<li><a href="#">Careers</a></li>
						<li><a href="#">Press</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</div>

				<div class="col-12 col-sm-6 col-lg-3">
					<h6 class="footer__title">Contact</h6>
					<ul class="footer__list">
						<li><a href="tel:+18002345678">+1 (800) 234-5678</a></li>
						<li><a href="mailto:support@smartmine.com">support@smartmine.com</a></li>
					</ul>
					<ul class="footer__social">
						<li><a href="#"><i class="ti-facebook"></i></a></li>
						<li><a href="#"><i class="ti-linkedin"></i></a></li>
						<li><a href="#"><i class="ti-instagram"></i></a></li>
						<li><a href="#"><i class="ti-twitter-alt"></i></a></li>
						<li><a href="#"><i class="ti-google"></i></a></li>
					</ul>
				</div>

				<div class="col-12">
					<div class="footer__copyright">
						<small>© 2018 Smart Mine. Create by <a href="https://themeforest.net/user/dmitryvolkov/portfolio?ref=DmitryVolkov" target="_blank">Dmitry Volkov</a></small>

						<ul>
							<li><a href="#">About Smart Mine</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- end footer -->

	<script src="{% static 'landingpage/js/jquery-3.2.1.slim.min.js' %}"></script>
	<script src="{% static 'landingpage/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'landingpage/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'landingpage/js/smooth-scroll.min.js' %}"></script>
	<script src="{% static 'landingpage/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'landingpage/js/main.js' %}"></script>
</body>
</html>