<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600%7CRoboto:400,400i,500,700" rel="stylesheet">

	{% load staticfiles %}
	<!-- Icons -->
	<link rel="stylesheet" href="{% static 'landingpage/css/themify-icons.css' %}">
	<link rel="stylesheet" href="{% static 'landingpage/css/cryptocoins.css' %}">
	<link rel="stylesheet" href="{% static 'landingpage/css/cryptocoins-colors.css' %}">

	<!-- CSS -->
	<link rel="stylesheet" href="{% static 'landingpage/css/bootstrap-reboot.min.css' %}">
	<link rel="stylesheet" href="{% static 'landingpage/css/bootstrap-grid.min.css' %}">
	<link rel="stylesheet" href="{% static 'landingpage/css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'landingpage/css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'landingpage/css/main-color1.css' %}">

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="{% static 'landingpage/icon/favicon-32x32.png' %}" sizes="32x32">
	<link rel="apple-touch-icon" href="{% static 'landingpage/icon/favicon-32x32.png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'landingpage/icon/apple-touch-icon-72x72.png' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'landingpage/icon/apple-touch-icon-114x114.png' %}">
	<link rel="apple-touch-icon" sizes="144x144" href="{% static 'landingpage/icon/apple-touch-icon-144x144.png' %}">

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title>Smart Mine – Crypto Mining HTML Template</title>

</head>
<body>
	
	<!-- header -->
	<header class="header header--white">
		<!-- logo -->
		<div class="header__logo">
			<a href="index.html">
				<img src="{% static 'landingpage/img/logo.png' %}" alt="">
			</a>
		</div>
		<!-- end logo -->

		<!-- navigation -->
		<ul class="header__nav">
			<li class="dropdown header__dropdown">
				<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>

				<ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuLink1">
					<li><a href="/index">Home 1</a></li>
					<li><a href="/index2">Home 2</a></li>
				</ul>
			</li>
			<li><a href="/about">About Us</a></li>
			<li><a href="/services">Services</a></li>
			<li><a href="/pricing">Pricing</a></li>
			<li><a href="/blog">Blog</a></li>
			<li class="dropdown header__dropdown">
				<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>

				<ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuLink2">
					<li><a href="/article">Article</a></li>
					<li><a href="/faq">Help</a></li>
				</ul>
			</li>
		</ul>
		<!-- end navigation -->

		<!-- buttons -->
		<div class="header__btns">
			<a href="/login" class="btn btn--header">log in</a>
			<a href="/signup" class="btn btn--header">sign up</a>
		</div>
		<!-- end buttons -->

		<!-- mob button -->
		<button class="header__menu" type="button">
			<i class="ti-menu"></i>
			<i class="ti-close"></i>
		</button>
		<!-- end mob button -->
	</header>
	<!-- end header -->

	<!-- page title -->
	<section class="section section--first section--bg" data-bg="{% static 'landingpage/img/section/section-bg.jpg' %}">
		<div class="container">
			<div class="row">
				<!-- section title -->
				<div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
					<h2 class="section__title section__title--white">Services</h2>
					<p class="section__text section__text--white section__text--head">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed aut eos, <b>natus</b> magnam, aperiam voluptates.</p>
				</div>
				<!-- end section title -->
			</div>
		</div>
	</section>
	<!-- end page title -->

	<!-- services -->
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-6 col-xl-3">
					<!-- service -->
					<div class="service">
						<i class="ti-bolt"></i>
						<h3 class="service__title">Instant Connection</h3>
						<p class="service__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered <b>alteration in some form</b>, by injected.</p>
					</div>
					<!-- end service -->
				</div>

				<div class="col-12 col-md-6 col-xl-3">
					<!-- service -->
					<div class="service">
						<i class="ti-wallet"></i>
						<h3 class="service__title">Instant Conclusion</h3>
						<p class="service__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected.</p>
					</div>
					<!-- end service -->
				</div>

				<div class="col-12 col-md-6 col-xl-3">
					<!-- service -->
					<div class="service">
						<i class="ti-stats-up"></i>
						<h3 class="service__title">Detailed Statistics</h3>
						<p class="service__text">There are many variations of passages of Lorem Ipsum available, but the <a href="#">majority</a> have suffered alteration in some form, by injected.</p>
					</div>
					<!-- end service -->
				</div>

				<div class="col-12 col-md-6 col-xl-3">
					<!-- service -->
					<div class="service">
						<i class="ti-harddrives"></i>
						<h3 class="service__title">Power Distribution</h3>
						<p class="service__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected.</p>
					</div>
					<!-- end service -->
				</div>
			</div>
		</div>
	</section>
	<!-- end services -->

	<!-- video -->
	<div class="section section--bg" data-bg="{% static 'landingpage/img/section/section-bg.jpg' %}">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- section title -->
					<div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
						<a class="section__video" href="https://vimeo.com/45830194"><i class="ti-control-play"></i></a>
						<p class="section__text section__text--white section__text--head">Check out our mining farm setup. To bring you the best we must hire the best.</p>
					</div>
					<!-- end section title -->
				</div>
			</div>
		</div>
	</div>
	<!-- end video -->

	<!-- get started -->
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-6">
					<!-- review -->
					<div class="review">
						<blockquote class="review__blockquote">I love the simple, minimal design, lots of white, not an overwhelming amount of features. Compared to some other alternatives I have tried, it was easy to sign up, bug-free, and easy to use so far.</blockquote>
						<span class="review__autor">
							John Doe
							<span>Entrepreneur</span>
						</span>
					</div>
					<!-- end review -->
				</div>

				<div class="col-12 col-lg-6">
					<!-- get started -->
					<div class="get-started">
						<h3 class="get-started__title">Create Account</h3>
						<p class="get-started__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias dicta ratione expedita blanditiis.</p>
						<a href="#" class="btn">get started</a>
					</div>
					<!-- end get started -->
				</div>
			</div>
		</div>
	</section>
	<!-- end get started -->

	<!-- partners -->
	<div class="partners section--border-top section--border-bottom">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- partners slider -->
					<div class="owl-carousel partners__slider">
						<!-- slider item -->
						<div class="item">
							<a href="#">
								<img src="{% static 'landingpage/img/partners/partner.png' %}" alt="">
							</a>
						</div>
						<!-- end slider item -->

						<!-- slider item -->
						<div class="item">
							<a href="#">
								<img src="{% static 'landingpage/img/partners/partner.png' %}" alt="">
							</a>
						</div>
						<!-- end slider item -->

						<!-- slider item -->
						<div class="item">
							<a href="#">
								<img src="{% static 'landingpage/img/partners/partner.png' %}" alt="">
							</a>
						</div>
						<!-- end slider item -->

						<!-- slider item -->
						<div class="item">
							<a href="#">
								<img src="{% static 'landingpage/img/partners/partner.png' %}" alt="">
							</a>
						</div>
						<!-- end slider item -->

						<!-- slider item -->
						<div class="item">
							<a href="#">
								<img src="{% static 'landingpage/img/partners/partner.png' %}" alt="">
							</a>
						</div>
						<!-- end slider item -->

						<!-- slider item -->
						<div class="item">
							<a href="#">
								<img src="{% static 'landingpage/img/partners/partner.png' %}" alt="">
							</a>
						</div>
						<!-- end slider item -->

						<!-- slider item -->
						<div class="item">
							<a href="#">
								<img src="{% static 'landingpage/img/partners/partner.png' %}" alt="">
							</a>
						</div>
						<!-- end slider item -->
					</div>
					<!-- end partners slider -->
				</div>
			</div>
		</div>
	</div>
	<!-- end partners -->

	<!-- footer -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-6 col-md-4 col-lg-3">
					<!-- logo -->
					<div class="footer__logo">
						<a href="index.html">
							<img src="{% static 'landingpage/img/logo.png' %}" alt="">
						</a>
					</div>
					<!-- end logo -->
				</div>

				<div class="col-6 col-sm-6 col-md-4 col-lg-3">
					<h6 class="footer__title">Features</h6>
					<ul class="footer__list">
						<li><a href="#">Instant connection</a></li>
						<li><a href="#">Instant conclusion</a></li>
						<li><a href="#">Detailed statistics</a></li>
						<li><a href="#">Power distribution</a></li>
					</ul>
				</div>

				<div class="col-6 col-sm-6 col-md-4 col-lg-3">
					<h6 class="footer__title">Company</h6>
					<ul class="footer__list">
						<li><a href="#">Customers</a></li>
						<li><a href="#">Careers</a></li>
						<li><a href="#">Press</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</div>

				<div class="col-12 col-sm-6 col-lg-3">
					<h6 class="footer__title">Contact</h6>
					<ul class="footer__list">
						<li><a href="tel:+18002345678">+1 (800) 234-5678</a></li>
						<li><a href="mailto:support@smartmine.com">support@smartmine.com</a></li>
					</ul>
					<ul class="footer__social">
						<li><a href="#"><i class="ti-facebook"></i></a></li>
						<li><a href="#"><i class="ti-linkedin"></i></a></li>
						<li><a href="#"><i class="ti-instagram"></i></a></li>
						<li><a href="#"><i class="ti-twitter-alt"></i></a></li>
						<li><a href="#"><i class="ti-google"></i></a></li>
					</ul>
				</div>

				<div class="col-12">
					<div class="footer__copyright">
						<small>© 2018 Smart Mine. Create by <a href="https://themeforest.net/user/dmitryvolkov/portfolio?ref=DmitryVolkov" target="_blank">Dmitry Volkov</a></small>

						<ul>
							<li><a href="#">About Smart Mine</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- end footer -->

	<script src="{% static 'landingpage/js/jquery-3.2.1.slim.min.js' %}"></script>
	<script src="{% static 'landingpage/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'landingpage/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'landingpage/js/smooth-scroll.min.js' %}"></script>
	<script src="{% static 'landingpage/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'landingpage/js/main.js' %}"></script>
</body>
</html>